@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0px 12px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.brand img {
    width: 44px;
    padding: 0px 8px;
}

.container {
    min-height: calc(100vh - 65px - 130px);
}


.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 15px;
}

.icons i {
    cursor: pointer;
    margin: 0px 12px;
}

#myProgressBar {
    width: 80vw;
    display: flex;
    justify-content: center;
}